In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('E:\\Fack_News\\notebooks\\data\\final.csv')
df.head()

,id,title,author,text,label
0,0,Damar Hamlin wasn’t at the Buffalo Bills' play...,Ciara O'Rourke,Buffalo Bills safety Damar Hamlin appeared in ...,0
1,1,Video proves Greta Thunberg is a crisis actor.,Ciara O'Rourke,Swedish climate activist Greta Thunberg was re...,0
2,2,Climate change is a naturally occurring phenom...,Andy Nguyen,As global leaders discussed climate change and...,0
3,3,A video shows wreckage of the recent plane cra...,Ciara O'Rourke,A Yeti Airlines flight carrying 72 people cras...,0
4,4,"New York is bombed. At this moment, there are ...",Jeff Cercone,The day after a mass shooting left at least 11...,0

In [5]:
df.drop(['id','author','text'],axis=1,inplace=True)

In [6]:
df.head()

                                               title  label
0  Damar Hamlin wasn’t at the Buffalo Bills' play...      0
1     Video proves Greta Thunberg is a crisis actor.      0
2  Climate change is a naturally occurring phenom...      0
3  A video shows wreckage of the recent plane cra...      0
4  New York is bombed. At this moment, there are ...      0

In [7]:
X = df.drop(['label'],axis=1)
Y = df[['label']]

In [8]:
X

                                                   title
0      Damar Hamlin wasn’t at the Buffalo Bills' play...
1         Video proves Greta Thunberg is a crisis actor.
2      Climate change is a naturally occurring phenom...
3      A video shows wreckage of the recent plane cra...
4      New York is bombed. At this moment, there are ...
...                                                  ...
16792  World War 3 Alert PUTIN Exposed America?s SECR...
16793  EPIC: Brave German woman beats the absolute he...
16794  Daily Mail begins ?Start Funding Hate? campaig...
16795       WORLD WAR 3 ? Mr.President #004 ? xFrozenLPx
16796                                        "On and On"

[16797 rows x 1 columns]

In [9]:
Y

       label
0          0
1          0
2          0
3          0
4          0
...      ...
16792      1
16793      1
16794      1
16795      1
16796      0

[16797 rows x 1 columns]

In [11]:
Y.value_counts()

label
0        13687
1         3110
dtype: int64

In [12]:
import logging
from imblearn.over_sampling import RandomOverSampler

In [13]:
logging.info('Resampling data...')
oversampler = RandomOverSampler()
x_resampled, y_resampled = oversampler.fit_resample(X,Y)
print(y_resampled.value_counts())

label
0        13687
1        13687
dtype: int64

In [33]:
X.size

16797

In [40]:
x_resampled['title']

0        Damar Hamlin wasn’t at the Buffalo Bills' play...
1           Video proves Greta Thunberg is a crisis actor.
2        Climate change is a naturally occurring phenom...
3        A video shows wreckage of the recent plane cra...
4        New York is bombed. At this moment, there are ...
                               ...
27369    REPENT!!! WORLD WAR 3 (WW3) DAY OF YAHAWASHI I...
27370    "Midtown crime is up by 30 percent the last qu...
27371    “Gas prices are down back to where they were b...
27372    You've got millions of families paying 40, 50,...
27373    Clint Eastwood Leaves His Estate To The Trump ...
Name: title, Length: 27374, dtype: object

In [14]:
import numpy as np
import re
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [15]:
ps = PorterStemmer()
def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [ps.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [41]:
x_resampled['title'] = x_resampled['title'].apply(stemming)

In [42]:
x_resampled

                                                   title
0                 damar hamlin buffalo bill playoff game
1                 video prove greta thunberg crisi actor
2      climat chang natur occur phenomenon track thro...
3            video show wreckag recent plane crash nepal
4                        new york bomb moment mani injur
...                                                  ...
27369  repent world war ww day yahawashi near yahawas...
27370                 midtown crime percent last quarter
27371                  ga price back russia invad ukrain
27372   got million famili pay limit incom put roof head
27373           clint eastwood leav estat trump campaign

[27374 rows x 1 columns]

In [18]:
X

                                                   title
0                 damar hamlin buffalo bill playoff game
1                 video prove greta thunberg crisi actor
2      climat chang natur occur phenomenon track thro...
3            video show wreckag recent plane crash nepal
4                        new york bomb moment mani injur
...                                                  ...
16792  world war alert putin expos america secret pla...
16793  epic brave german woman beat absolut hell musl...
16794     daili mail begin start fund hate campaign soon
16795                     world war mr presid xfrozenlpx
16796

[16797 rows x 1 columns]

In [46]:
## Convert text data into vector form
tf = TfidfVectorizer()
X = tf.fit_transform(x_resampled['title']).toarray()

In [51]:
from sklearn.pipeline import Pipeline

In [50]:
#Numerical Pipeline
num_pipeline = Pipeline(
    steps=[
        ('stemming',stemming()),
        ('Vectorizer',TfidfVectorizer())
    ]
)

(27374, 12047)